<h1>Log in</h1>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= render 'shared/errors' %>

  <label name="user_username">Username:</label>
  <input type ="text" name="user[username]" id="user_username" value="<%= @user.username %>">
  <br>
  <label name="user_password">Password:</label>
  <input type ="password" name="user[password]" id="user_password" value="<%= @user.password %>">

  <br>
  <input type="submit" value="Log in">
</form>
